@font-face{
    font-family: "Roboto";
    src: url(../Roboto/Roboto-Bold.ttf) format('woff');
}
body {
    height: 100vh;
    margin: 0;
}
.fondo {
    background: radial-gradient(circle, #fffffe 0%, #fff9c4 100%);
    margin: 0;
    width: 100%;
    height: 100vh;
}
/*ameba top left*/
.top-left {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
    box-shadow: 5px 5px 10px 5px #fdafab5d;
    background: radial-gradient(circle, #ffffff -90%, #fdafab 60%);
    transition-property: all;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: llama;
    animation-duration: 1s;
}
@keyframes llama {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
    }
}
.top-left p {
    display: none;
}
.top-left:hover{
    width: 90vw;
    height: 70vh;
    border-bottom-right-radius: 100px;
    text-align: center;
    z-index: 1;
}
.top-left:hover::before {
    content: "";
    background-image: url(https://media.giphy.com/media/l3q2Wl7Wpz09Z5hfi/giphy.gif);
    background-color: #fff9c4;
    background-size: cover;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}
.top-left:hover p {
    display: block;
    color: #f75b53;
    font-family: Roboto;
    font-size: 2em;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: aparece;
    animation-duration: 1s;
    z-index: 0;
}

.top-left:hover .p2 {
    animation-duration: 1.5s;
}
.top-left:hover .p3 {
    animation-duration: 2.5s;
}
.top-left:hover .p4 {
    animation-duration: 4s;
}

/**************ameba top right/***************/
.top-right {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    box-shadow: -5px 5px 10px 5px #fdafab5d;
    background: radial-gradient(circle, #ffffff -90%, #fdafab 60%);
    transition-property: all;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: llama;
    animation-delay: 0.5s;
    animation-duration: 1s;
}
.top-right p {
    display: none;
}
.top-right:hover{
    width: 90vw;
    height: 70vh;
    border-bottom-left-radius: 100px;
    text-align: center;
    z-index: 1;
}
.top-right:hover::before {
    content: "";
    background-image: url(https://media.giphy.com/media/3LrK7Q7UhF5MnhZ5ja/giphy.gif);
    background-color: #fff9c4;
    background-size:center;
    border-bottom-left-radius: 100px;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;

}
.top-right:hover p {
    display: block;
    color: #b1130b;
    font-family: Roboto;
    font-size: 2em;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: aparece;
    animation-duration: 1s;
}
.top-right:hover .p2 {
    animation-duration: 1.5s;
}
.top-right:hover .p3 {
    animation-duration: 2.5s;
    transform: scaleY(1.1);
}
.top-right:hover .p4 {
    animation-duration: 4s;
}

/*ameba bottom left*/
.bottom-left {
    width: 20vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100%;
    box-shadow: 5px -5px 10px 5px #fdafab5d;
    background: radial-gradient(circle, #ffffff -90%, #fdafab 60%);
    transition-property: all;
    transition-duration: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: llama;
    animation-delay: 0.5s;
    animation-duration: 1s;
}
.bottom-left p {
    display: none;
}
.bottom-left:hover{
    width: 90vw;
    height: 70vh;
    background-image: url(https://media.giphy.com/media/3o6fIQ1JE7SfTCZwd2/giphy.gif);
    background-color: #fff9c4;
    background-size:cover;
    background-position: center;
    opacity: 0.9;
    border-top-right-radius: 100px;
    text-align: center;
    z-index: 1;
}
.bottom-left:hover p {
    display: block;
    color: #f75b53;
    font-size: 2em;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: aparece;
    animation-duration: 1s;
}
.bottom-left:hover .p2 {
    animation-duration: 1.5s;
    font-size: 1.3em;
}
.bottom-left:hover .p3 {
    animation-duration: 2.5s;
    font-size: 1.3em;
}
.bottom-left:hover .p4 {
    animation-duration: 4s;
    font-size: 1.3em;
}

/*ameba bottom right*/
.bottom-right {
    width: 20vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;
    box-shadow: -5px -5px 10px 5px #fdafab5d;
    background: radial-gradient(circle, #ffffff -90%, #fdafab 60%);
    transition-property: all;
    transition-duration: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: llama;
    animation-duration: 1s;
    cursor: pointer;
}
.bottom-right .follow{
    display: none;
}
.bottom-right:hover{
    width: 70vw;
    height: 70vh;
    background-image: url(https://media.giphy.com/media/atZII8NmbPGw0/giphy.gif);
    background-color: #fff9c4;
    background-size:cover;
    background-position:center;
    opacity: 0.9;
    border-top-left-radius: 100px;
    text-align: center;
    z-index: 1;
}
.bottom-right:hover .follow {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    color: #f75b53;
    font-size: 2em;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: aparece;
    animation-duration: 1s;
}
.bottom-right .follow a {
    text-decoration: none;
    color: #f75b53;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: agrandando;
    animation-duration: 1s;
}
/*nombre*/
h1 {
    position: absolute;
    left: 23%;
    top: 45%;
    color: #fdafab;
    font-family: Roboto;
    border: solid #fdafab 1px;
    border-radius: 40px;
    box-shadow: 2px 0px 10px 5px #fdafab5d;
    padding: 4%;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-name: agrandando;
    animation-duration: 3s;
    transition: all 0.5s;
 
}
h1:hover {
    transform: scale(1.5);
    background: linear-gradient(217deg, #fdafab, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #f29a95, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #ede4e3, rgba(0,0,255,0) 70.71%);
    color: #fff9c4;
    font-family: Roboto;
}
.fas {
    position: absolute;
    left: 25%;
    top: 30%;
    font-size: 2.5em;
    color: #fdafab;
    animation-iteration-count:unset;
    animation-direction: alternate;
    animation-name: girar;
    animation-duration: 1s;
}
.fas::after {
    content: "";
    font-family: Roboto;
    font-size: 0.7em;
    position: absolute;
    width: 50vw;
    animation-iteration-count:unset;
    animation-direction: alternate;
    animation-name: hola;
    animation-duration: 3s;
    transition: content 3s;
}

.fas::after {
    content:"Hola Mundo!";
    position: absolute;
    left: 70px;
    bottom: 5px;
    transform: scale(1.1);
}

@keyframes hola {
    0% {
        content: "H"
    }
    10% {
        content: "Ho";
    }
    20% {
        content: "Hol";
    }
    30% {
        content: "Hola M";
    }
    40% {
        content: "Hola Mu";
    }
    50% {
        content: "Hola Mun";
        transform: translate(50px, 350px);
    }
    60% {
        content: "Hola Mund";
    }
    70% {
        content: "Hola Mundo!";
    }
    80% {
        transform: translate(15px,10px);
    }

}

@keyframes girar {
    0%{ 
        transform: rotate(0deg); 
    }
    100%{ 
        transform: rotate(360deg);
    }
}

@keyframes agrandando {
    0% {
        color: #ffecd9;
        transform: scale(1.5)
    }
    100% {
        color: #fdafab;
    }
}
@keyframes aparece {
    0% {
        transform: scale(-1);
        color: #7e5b5a00;
    }
    50% {
        color: #7e5b5a;
        transform: scale(1);
    }
    75% {    left: 50%;
        top: 50%;
        color: #f57973;
    }

}